@using DemoDataExtract2.Models;
@using System.Collections.Generic;

@model List<DemoDataExtract2.Models.ExtractJob>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Extracts";
}

<h2>Data Extracts</h2>
<p>This table shows all jobs available to @ViewBag.OspName, and indicates which jobs @ViewBag.OspName is subscribed to. You can see the status of the jobs @ViewBag.OspName is subscribed to, and download any extracts which have completed.</p>

<table style="width:100%">
    <tr>
        <th>Job name</th>
        <th>Subscription</th>
        <th>Status</th>
        <th>Download link</th>
    </tr>

    @foreach (ExtractJob job in Model)
    {
        <tr>
            <td>
                <!-- Show the name of the job. -->
                @job.JobName
            </td>
            
            <td>
                <!-- Give subscription details, and a link to change subscription details. -->
                @job.Subscription.Frequency
                 - 
                @Html.ActionLink("Change", "Subscription", new { id = job.JobId})
            </td>

            
            <td>
                <!-- Show the job's status. -->
                @job.Status
            </td>
            
            <td>
                <!--  Add a download link if present. -->
                @if (!job.DownloadLink.IsEmpty())
                {
                    <a href="@job.DownloadLink">Download</a>
                }
            </td>
        </tr>
    }
</table>