
@{
    ViewBag.MenuSection = "Data Subject";
    ViewBag.Title = "Access Preferences";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}

@using eu.operando.core.pdb.cli.Model;
@using Operando_AdministrationConsole.Models.DataSubjectModels;
@*model OSPConsents*@
@model IList<ModOSPConsents>

<!-- BEGIN PAGE BASE CONTENT -->
<!-- Form modified by IT Innovation Centre 2016 -->
<div class="portlet-body font-grey-gallery">
    <div class="tabbable-custom-operando col-md-3 col-sm-3 col-xs-3">
        <ul class="nav nav-tabs tabs-left">
            @*foreach (var osp in ViewBag.ospppList)*@
            @foreach(var osp in Model)
            {
                <li>
                    <a href="#tab_@osp.OspId.GetHashCode()" data-toggle="tab" aria-expanded="false"> @osp.OspId </a>
                </li>
            }
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 tabs-custom-operando">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-dark bold uppercase">Privacy wizard</span>
                </div>
            </div>
            <div class="portlet-body row">
                <div class="col-md-10">
                    <p>
                        Your privacy preferences are shown here. You can see, and change, which organisations have access to your data and how it is used.
                        <br/>
                        These settings are enforced automatically for you by OPERANDO, an independent platform, to ensure that your data is only used in ways which you have agreed to..
                    </p>
                    <p>You can use our privacy wizard to generate a recomended privacy policy quickly and easily.</p>
                </div>
                <div class="col-md-2 text-right">
                        @*<p> <button type="button" class="btn yellow-gold">Start</button></p>*@
                    <form class="form-horizontal" role="form" method="post" name="questionnaire">
                        <div class="form-actions right">
                            <button type="submit" class="btn yellow-gold" name="qstage">Start</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-content">

            @*foreach (var osp in ViewBag.ospppList)*@
            @foreach(var osp in Model)
            {
                <!-- BEGIN TAB @osp.OspId CONTENT -->
                <div class="portlet light tab-pane fade" id="tab_@osp.OspId.GetHashCode()">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-dark bold uppercase">@osp.OspId privacy settings</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <p>Your privacy settings are:</p>
                        <form class="form-horizontal" role="form" method="post" name="@osp.OspId form">
                            <div class="form-body">

                                @foreach (var groupPolicy in osp.map)
                                {
                                    <div class="form-group">
                                        <label class="col-md-7 control-label">@groupPolicy.groupKey should be able to access the following data:</label>
                                       
                                        <div class="col-md-5">
@foreach (var policy in groupPolicy.gap)
{
                                            <div class="mt-checkbox-list">
                                                <label class="mt-checkbox">
                                                    <input type="checkbox"
                                                           name="@policy.Subject.GetHashCode() @policy.Resource.GetHashCode() @policy.Action.GetHashCode()"
                                                           value="@policy.Permission"
                                                           @if (policy.Permission == true)
                                                           { @: checked="checked"
                                                           }> @policy.Resource
                                                    <span></span>
                                                </label>
                                            </div>
}
                                        </div>
                                        
                                    </div>
                                }
                            </div>
                            <div class="form-actions right">
                                <button type="submit" class="btn yellow-gold" name="@osp.OspId">Update UPP</button>
                                <button type="submit" class="btn default" name="reset_@(osp.OspId)">Back to default values</button>                                
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- END PAGE BASE CONTENT -->


@section PagePluginStyles {
    <link href="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
}

@section PageStyles {

}

@section PagePlugins {
    <script src="~/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
}

@section PageScripts {
    <script src="~/assets/pages/scripts/ui-confirmations.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-sweetalert.min.js" type="text/javascript"></script>
}