
@{
    ViewBag.MenuSection = "Data Subject";
    ViewBag.Title = "Privacy Questionnaire";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}
<!-- BEGIN PAGE BASE CONTENT -->
<div class="m-heading-1 border-grey-silver m-bordered">
    <p>The questinnaire consists of four parts, an initial set of questions, a privacy set of questions,
    a set of service related questions and finally a set of action questions.</p>
    <p>For all Questions the higher score (5 is maximum value, very true about yoursel) means that
    you are more likely to care about privacy.</p>
</div>
<div class="portlet light bordered" id="form_wizard_1">
    <div class="portlet-body form">
        <form class="form-horizontal" action="#" id="submit_form" method="POST" novalidate="novalidate">
            <div class="form-wizard">
                <div class="form-body">
                    <p>Questionnaire part: @*@(ViewBag.questionnaire.Title)*@</p>
                    @*<p>@(ViewBag.questionnaire.Metadata)</p>*@
                    <ul class="nav nav-pills nav-justified steps">
                        @{ int count = 1;}
                        @for (count = 1; count < ViewBag.questionnaire.Count+2; count++)
                        {
                            <li @if(count == 1) {<text>class="active"</text>}>
                                <a href="#tab@(count)" data-toggle="tab" class="step" aria-expanded="true">
                                    <span class="number"> @count </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> Step @count
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>

                    <div id="bar" class="progress progress-striped yellow-gold" role="progressbar">
                        <div class="progress-bar progress-bar-success yellow-gold" style="width: @((int)(100/(count-1)))%;"> </div>
                    </div>
                    <div class="tab-content">
                        <div class="alert alert-danger display-none">
                            <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-none">
                            <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                        </div>
                        @{ int cCount = 1; count = 1;}
                        @foreach (var category in ViewBag.questionnaire)
                        {
                            <div class="tab-pane @(cCount == 1 ? "active" : "")" id="tab@(cCount)">
                                <h3 class="block">Category @(cCount): @category.Key</h3>
                                @foreach (var statement in category.Value)
                                {
                                    <div class="row">
                                        <div class="col-lg-7 col-md-7 col-xs-12 icheck-inline bold">Question @(count): @(statement.qObj.Question)?</div>
                                        <div class="col-lg-5 col-md-5 col-xs-12">
                                            <div class="d-block">
                                                <div class="icheck-inline">
                                                    @{  int metaCount = 1;}
                                                    @foreach (var metaVal in statement.qObj.Meta.Split(','))
                                                    {
                                                        <label class="col-lg-3 col-md-3 col-xs-5">
                                                            <div class="iradio_minimal-grey" style="position: relative;"><input type="radio" name="radio@(statement.qId)" class="icheck" value="@metaCount"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins><br/>@metaVal</div>
                                                        </label>
                                                        metaCount += 1;
                                                    }                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    count++;
                                }
                            </div>
                            cCount++;
                        }
                        <div class="tab-pane" id="tab@(cCount)">
                            <h3 class="block">Confirm @*@@(ViewBag.questionnaire.Title)*@ Preferences</h3>
                            @*<h4 class="form-section">Account</h4>*@
                            @{ cCount = 1; count = 1;}
                            @foreach (var category in ViewBag.questionnaire)
                            {
                                foreach (var statement in category.Value)
                                {
                                    <div class="row">
                                        <div class="col-xs-8 icheck-inline bold">Question @(count): @(statement.qObj.Question)?</div>
                                        <div class="col-xs-4 text-right">
                                            <div class="d-block">
                                                <div class="icheck-inline">
                                                    <div id="radio@(statement.qId)"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    count++;
                                }
                                cCount++;
                            }
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="javascript:;" class="btn default button-previous disabled" style="display: none;">
                                <i class="fa fa-angle-left"></i> Back
                            </a>
                            <a href="javascript:;" id="Button_ContinuePrivacyQuestionnaire" class="btn btn-outline yellow-gold button-next">
                                Continue
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="javascript:;" class="btn button-submit yellow-gold btn-success yellow-gold mt-sweetalert" onclick="document.forms[0].submit();return false;" data-title="Success" data-message="Success message" data-type="success" data-allow-outside-click="true" data-confirm-button-class="btn-success" style="display: none;">
                                Submit <i class="fa fa-check"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
<script>

    $("#Button_ContinuePrivacyQuestionnaire").click(function () {
        @{ cCount = 1; count = 1;}
        @foreach (var category in ViewBag.questionnaire)
        {
            <text>
            if ($('#tab@(cCount)').css("display") == 'block') {
            </text>
              foreach (var statement in category.Value)
              {
                      <text>
                      var radio@(statement.qId)html = $('input[name=radio@(statement.qId)]:checked', '#submit_form').val();
                      $('#radio@(statement.qId)').text(radio@(statement.qId)html);
                      </text>
                  count++;
              }
            <text>
            }
        </text>
            cCount++;
        }
        });


</script>
@section PagePluginStyles {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
}
@section PageStyles {
    <style>
        .form-wizard .steps > li.active > a.step .number {
            background-color: #E87E04;
            color: #fff;
        }

        div[class*='icheckbox_'], div[class*='iradio_'] {
            margin-right: 0 !important;
            top: -1px !important;
        }

        .icheck-inline > label {
            display: inline-block;
            margin-left: 0px;
        }

        @@media (max-width: 1263px) and (min-width: 1200px) {
            .valore10 {
                display: block;
            }
        }

        @@media (max-width: 1168px) and (min-width: 990px) {
            .valore10 {
                display: block;
            }
        }
    </style>
}

@section PagePlugins {
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
}
@section PageScripts {
    <script src="~/assets/pages/scripts/operando-form-wizard.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-confirmations.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-sweetalert_operandoReportsManager.js" type="text/javascript"></script>
}


