@{
    ViewBag.MenuSection = "PSP Analyst";
    ViewBag.Title = "Data Protection Regulations";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}

@using Operando_AdministrationConsole.Models;
@using Operando_AdministrationConsole.Extension;
@model List<Regulation>

@*Create a series of table cells allowing editing of a bound regulation*@
@helper RegulationEditRow(string binding)
{
    <td data-bind="visible: @(binding).Editing">
        <input type="text" class="form-control" placeholder="Enter text" data-bind="value: @(binding).LegislationSector">
    </td>
    <td data-bind="visible: @(binding).Editing">
        <input type="text" class="form-control" placeholder="Enter text" data-bind="value: @(binding).Reason, visible: @(binding).Editing">
    </td>
    <td data-bind="visible: @(binding).Editing">
        <select class="bs-select form-control" data-bind="value: @(binding).PrivateInformationType, visible: @(binding).Editing">
            @{
                foreach (PrivateInformationTypeEnum privateInformationType in Enum.GetValues(typeof(PrivateInformationTypeEnum)))
                {
                    <option value="@((int)privateInformationType)">@privateInformationType.UserFriendlyName()</option>
                }
            }
        </select>
    </td>
    <td data-bind="visible: @(binding).Editing">
        <input type="text" class="form-control" placeholder="Enter text" data-bind="value: @(binding).Action, visible: @(binding).Editing">
    </td>
    <td data-bind="visible: @(binding).Editing">
        <select class="bs-select form-control" data-bind="value: @(binding).RequiredConsent, visible: @(binding).Editing">
            @{
                foreach (RequiredConsentEnum requiredConsentType in Enum.GetValues(typeof(RequiredConsentEnum)))
                {
                    <option value="@((int)requiredConsentType)">@requiredConsentType.ToString()</option>
                }
            }
        </select>
    </td>
}

@*Create object properties mapping from enumeration value name to int value*@
@helper EnumConversion(Enum enumeration)
{
    foreach (var value in Enum.GetValues(enumeration.GetType()))
    {
        @: "@value": @((int)value),
        @: @((int)value): "@value", 
    }
}

<!-- BEGIN PAGE BASE CONTENT -->
<div class="modal" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalTitle">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="alertModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="m-heading-1 border-grey-silver m-bordered">
            <p>
                Use this page to update and add regulations to the platform.
            </p>
        </div>
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-globe font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Regulations</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Legislation Sector</th>
                                <th>Reason</th>
                                <th>Private Information Type</th>
                                <th>Action</th>
                                <th>Required Consent</th>
                                <th style="min-width: 120px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @RegulationEditRow("OperandoRegulations.model.newRegulation")
                                <td>
                                    <div class="actions">
                                        <button type="button" class="btn btn-circle yellow-gold btn-sm" onclick="OperandoRegulations.addRegulation()">Add <i class="fa fa-plus"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <!-- ko foreach: OperandoRegulations.model.regulations -->
                            <tr>
                                @RegulationEditRow("$data.EditableCopy")
                                <td data-bind="visible: $data.EditableCopy.Editing">
                                    <div class="btn-group btn-group-circle">
                                        <button type="button" class="btn btn-outline green btn-sm" data-bind="click: function(){OperandoRegulations.updateRegulation($data)}">Save</button>
                                        <button type="button" class="btn btn-outline red btn-sm" data-bind="click: function(){$data.EditableCopy.Editing(false)}"\>Cancel</button>
                                    </div>
                                </td>

                                <td data-bind="text: LegislationSector, visible: !$data.EditableCopy.Editing()"></td>
                                <td data-bind="text: Reason, visible: !$data.EditableCopy.Editing()"></td>
                                <td data-bind="text: PrivateInformationTypeEnum.UserFriendlyName(PrivateInformationTypeEnum[PrivateInformationType()]),
                                    visible: !$data.EditableCopy.Editing()"></td>
                                <td data-bind="text: Action, visible: !$data.EditableCopy.Editing()"></td>
                                <td data-bind="text: RequiredConsentEnum[RequiredConsent()], visible: !$data.EditableCopy.Editing()"></td>
                                <td data-bind="visible: !$data.EditableCopy.Editing()">
                                    <div class="btn-group btn-group-circle">
                                        <button type="button" class="btn btn-outline green btn-sm" data-bind="click: function(){$data.EditableCopy.Editing(true)}">Edit</button>
                                        <button type="button" class="btn btn-outline red btn-sm" data-toggle="confirmation" data-original-title="Are you sure ?" data-placement="left" 
                                                data-on-confirm="OperandoRegulations.deleteRegulation" data-bind="attr: {'data-id': $data.RegId}">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- END PAGE BASE CONTENT -->


@section PagePluginStyles {
    <link href="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
}

@section PageStyles {

}

@section PagePlugins {
    <script src="~/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
}

@section PageScripts {
    <script src="~/assets/pages/scripts/ui-confirmations.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-sweetalert.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Scripts/knockout-3.4.2.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/operando-regulations.js" type="text/javascript"></script>
}

<script type="text/javascript">
    var PrivateInformationTypeEnum = {
    @EnumConversion(new PrivateInformationTypeEnum())

        UserFriendlyName: function (name) {
            switch (name) {
                @foreach (PrivateInformationTypeEnum privateInformationType in Enum.GetValues(typeof(PrivateInformationTypeEnum)))
            {
                @: case "@privateInformationType":
                @: return "@privateInformationType.UserFriendlyName()";
        }
            default:
                return name;
    }
    }
    };

    var RequiredConsentEnum = {
        @EnumConversion(new RequiredConsentEnum())
        };

    $(function () {
        var model = JSON.parse('@Html.Raw(Json.Encode(Model))');

        var urlAdd = function () {
            return "@Url.Action("NewRegulation", "PspAnalyst")";
        }

        var urlUpdate = function(id) {
            return "@Url.Action("UpdateRegulation", "PspAnalyst")/" + id;
        }

        var urlDelete = function (id) {
            return "@Url.Action("DeleteRegulation", "PspAnalyst")/" + id;
        }

        OperandoRegulations.init(
            urlAdd,
            urlUpdate,
            urlDelete,
            model
        );
    });
</script>