<!--Created by IT Innovation Centre, Christopher Coles, 06/09/2017-->
@{
    ViewBag.MenuSection = "PSP Analyst";
    ViewBag.Title = "OSP Audit";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}
@using Operando_AdministrationConsole.Models;
@using Operando_AdministrationConsole.Extension;

<div class="row">
    <div class="col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-globe font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase"> Review Logs</span>
                </div>
            </div>
            <div class="portlet-body">
                <p>Choose an OSP and specify the review log period.</p>
                <select id="selector">
                    @foreach (var osp in ViewBag.ospList)
                    {
                        @*<option>@osp.PolicyUrl/@osp.OspPolicyId</option>*@
                        <option>@osp.PolicyUrl</option>
                    }
                </select>

                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Day</th>
                            <th>Month</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Start date</td>
                            <td><input type="number" id="startday" min="1" max="31" /></td>
                            <td><input type="number" id="startmonth" min="1" max="12" /></td>
                            <td><input type="number" id="startyear" min="2016" max="2018" /></td>
                        </tr>
                        <tr>
                            <td>End date</td>
                            <td><input type="number" id="endday" min="1" max="31" /></td>
                            <td><input type="number" id="endmonth" min="1" max="12" /></td>
                            <td><input type="number" id="endyear" min="2016" max="2018" /></td>
                        </tr>
                    </tbody>
                </table>

                <div id="resultDiv"></div>
                <button type="button" class="btn" style="display:none" id="notificationButton">Send notification to OSP that behaviour is invalid</button>
                <button type="button" class="btn" onclick="submitRequest()">Submit request for report evaluation</button>
                <script type="text/javascript">
                    //$(function () {
                        var tmp_osps = {};

                        @foreach (var osp in ViewBag.ospList) {
                            @:tmp_osps["@osp.PolicyUrl"] = "@osp.OspPolicyId";
                        }
                    //});

                    function submitRequest() {
                        document.getElementById("notificationButton").style.display = "block";
                        var selector = document.getElementById("selector");
                        var OSPUrl = selector.options[selector.selectedIndex].text;
                        var OSPId = tmp_osps[OSPUrl];
                        var startday = document.getElementById("startday").value;
                        var startmonth = document.getElementById("startmonth").value;
                        var startyear = document.getElementById("startyear").value;
                        var endday = document.getElementById("endday").value;
                        var endmonth = document.getElementById("endmonth").value;
                        var endyear = document.getElementById("endyear").value;
                        $.getJSON('@Url.Action("ReportEvaluation", "PspAnalyst")', { ospUrl: OSPUrl, ospId: OSPId, startday: startday, startmonth: startmonth, startyear: startyear, endday: endday, endmonth: endmonth, endyear: endyear },
                        function (data) {
                            document.getElementById("resultDiv").innerHTML = data;
                        }
                    );
                    }
                </script>
            </div>
        </div>
    </div>
</div>


@section PagePlugins {
    <script src="~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
}
@section PagePluginStyles {
    <link href="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
}

@section PageStyles {

}