@using Operando_AdministrationConsole.Models.RegulatorModels
@model ComplianceReportModel
<thead>
    <tr>
        <th class="sorting col-md-2">User type of data user</th>
        <th class="sorting col-md-2">User type of data subject</th>
        <th class="sorting col-md-2">Type of information used</th>
        <th class="col-md-2">Reason for use</th>

    </tr>
</thead>
<tbody>
@{ var odd = true; }
@foreach (var section in Model.Sections)
{
    <tr id="@(Model.OspId)" class="@(odd ? "odd" : "even") gradeX">
        <td>@(section.User)</td>
        <td>@(section.Subject)</td>
        <td>@(section.DataType)</td>
        <td>@(section.Reason)</td>
    </tr>
    odd = !odd;
}
</tbody>