<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Operando G2C</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="@ViewBag.Title - Operando G2C" name="description" />
    <meta content="Operando Consortium" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @Styles.Render("~/operando/global-mandatory/css")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS STYLES  -->
    @RenderSection("PagePluginStyles", required: false)
    <!-- END PAGE LEVEL PLUGINS STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    @Styles.Render("~/operando/global-theme/css")
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    @RenderSection("PageStyles", required: false)
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    @Styles.Render("~/operando/global-layout/css")
    <!-- END THEME LAYOUT STYLES -->

    <!-- BEGIN CORE PLUGINS -->
    @Scripts.Render("~/operando/plugins/core")
    <!-- END CORE PLUGINS -->

</head>
<!-- END HEAD -->
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href='@Url.Action("Index", "Dashboard")'>
                    <img src='@Url.Content("~/assets/layouts/operando/img/logo-light-big.png")'  alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        @RenderPage("~/Views/Shared/_OperandoUserMenu.cshtml")
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            @RenderPage("~/Views/Shared/_OperandoSidebarMenu.cshtml")
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>
                            @ViewBag.Title
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE BREADCRUMB -->
                @RenderPage("~/Views/Shared/_OperandoBreadcrumbs.cshtml")
                <!-- END PAGE BREADCRUMB -->
                @RenderBody()
            </div>
            <!-- END CONTENT BODY -->
        </div>
    <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    @RenderPage("~/Views/Shared/_OperandoFooterDefault.cshtml")
    <!-- END FOOTER -->
    
    <!--[if lt IE 9]>
    @Scripts.Render("~/operando/plugins/old-ie")
    <![endif]-->
    
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @RenderSection("PagePlugins", required: false)
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    @Scripts.Render("~/operando/scripts/global-theme")
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @RenderSection("PageScripts", required: false)
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    @Scripts.Render("~/operando/scripts/layout-theme")
    <!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>
