
@{
    bool canEdit = Session["UserType"]?.ToString() == "osp_admin";
    
    ViewBag.MenuSection = canEdit ? "OSP Admin" : "Data Subject";
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}

@using Operando_AdministrationConsole.Models;
@*model PrivacyPolicy*@
@model IList<OSPReasonPolicy>

@*Create a series of table cells allowing editing of a bound regulation*@
@helper PolicyEditRow(string binding)
{
    <td data-bind="visible: @(binding).Editing">
        <input class="form-control" list="userType" placeholder="Enter text" data-bind="value: @(binding).Datauser">
        <datalist id="userType">
            <option>Doctor</option>
            <option>Receptionist</option>
            <option>Healthcare assistant</option>
            <option>Pharmacist</option>
        </datalist>
    </td>
    <td data-bind="visible: @(binding).Editing">
        <input class="form-control" list="subjectType" placeholder="Enter text" data-bind="value: @(binding).Datasubjecttype">
        <datalist id="subjectType">
            <option>Patient</option>
            <option>Patient's family</option>
        </datalist>
    </td>
    <td data-bind="visible: @(binding).Editing">
        <input class="form-control" list="dataType" placeholder="Enter text" data-bind="value: @(binding).Datatype">
        <datalist id="dataType">
            <option>Medication</option>
            <option>Email address</option>
            <option>Phone number</option>
            <option>Home address</option>
        </datalist>
    </td>
    <td data-bind="visible: @(binding).Editing">
        <input type="text" class="form-control" placeholder="Enter text" data-bind="value: @(binding).Reason">
    </td>
}

<!-- BEGIN PAGE BASE CONTENT -->
<div class="modal" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalTitle">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="alertModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" data-bind="foreach: opps">
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-globe font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase" data-bind="text: OspPolicyId"></span>
                </div>
            </div>
            <div class="portlet-body">
                @if (canEdit)
                {
                    <p>
                        Setting up your privacy policy will allow OPERANDO to enforce the statements
                        within the policy. Since they are enforced, this information can be used to prove
                        regulation compliance to regulators.
                    </p>
                }
                else
                {
                    <p>
                        From this page, you can see the privacy policies of the online services who
                        can request your data. The policies are presented in a simple way (saying who using the
                        service can view your data, what data they can see, and what it's used for), making the
                        policy clear for everyone.
                    </p>
                }
                <h3>Who can use data</h3>
                <div class="table-responsive" id="osp.OspPolicyId">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User type of data user</th>
                                <th>User type of data subject</th>
                                <th>Type of information used</th>
                                <th>Reason for use</th>
                                <th style="min-width: 120px;"><!-- ACTION COLUMN --></th>
                            </tr>
                            @if (canEdit)
                            {
                                <tr>
                                    @PolicyEditRow("newPolicy")
                                    <td>
                                        <div class="actions">
                                            <button type="button" class="btn btn-circle yellow-gold btn-sm"
                                                    data-bind="click: addNewPolicy">Add <i class="fa fa-plus"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </thead>
                        <tbody data-bind="foreach: policies">
                            <tr>
                                @PolicyEditRow("$data.EditableCopy")
                                @if (canEdit)
                                {
                                    <td data-bind="visible: $data.EditableCopy.Editing">
                                        <div class="btn-group btn-group-circle">
                                            <button type="button" class="btn btn-outline green btn-sm" data-bind="click: function(){$parent.updatePolicy($data)}">Save</button>
                                            <button type="button" class="btn btn-outline red btn-sm" data-bind="click: function(){$data.EditableCopy.Editing(false)}">Cancel</button>
                                        </div>
                                    </td>
                                }
                                <td data-bind="text: Datauser, visible: !$data.EditableCopy.Editing()"></td>
                                <td data-bind="text: Datasubjecttype, visible: !$data.EditableCopy.Editing()"></td>
                                <td data-bind="text: Datatype, visible: !$data.EditableCopy.Editing()"></td>
                                <td data-bind="text: Reason, visible: !$data.EditableCopy.Editing()"></td>
                                @if (canEdit)
                                {
                                    <td data-bind="visible: !$data.EditableCopy.Editing()">
                                        <div class="btn-group btn-group-circle">
                                            <button type="button" class="btn btn-outline green btn-sm" data-bind="click: function(){$data.EditableCopy.Editing(true)}">Edit</button>
                                            <button type="button" class="btn btn-outline red btn-sm" data-toggle="confirmation" data-original-title="Are you sure ?" data-placement="left"
                                                    data-on-confirm="OperandoPrivacyPolicy.deletePolicy" data-bind="attr: {'data-id': $data.Id, 'data-osp': $parent.OspPolicyId}">Delete</button>
                                        </div>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE BASE CONTENT -->


@section PagePluginStyles {
    <link href="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
}

@section PageStyles {

}

@section PagePlugins {
    <script src="~/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
}

@section PageScripts {
    <script src="~/assets/pages/scripts/ui-confirmations.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-sweetalert.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Scripts/knockout-3.4.2.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/operando-privacy-policy.js" type="text/javascript"></script>
}

<script type="text/javascript">
    $(function () {
        var tmp_osps = [];
        @foreach(var osp in Model) {
            @:tmp_osps.push(JSON.parse('@Html.Raw(Json.Encode(osp))'));
        }
        var urlUpdate = "@Url.Action("UpdatePrivacyPolicy", "OspAdmin")/";
        OperandoPrivacyPolicy.init(urlUpdate, tmp_osps);
    });
</script>

