@model IEnumerable<Operando_AdministrationConsole.Models.DashboardModels.WidgetModels.DataRequestsModel>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase"> @Resources.WebResources.DashboardRecentDataRequests </span>
        </div>
        <div class="tools">
            <a href="@Url.Action("DataAccessLogs", "DataSubject")">@Resources.WebResources.DashboardViewAllButton <i class="icon-arrow-right"></i></a>
        </div>
    </div>
    <div class="portlet-body">
        <ul class="feeds">
            @foreach (var log in Model)
            {
                <li class="font-grey-gallery">
                    <div class="col1">
                        <div class="cont">
                            <div class="cont-col1">
                                @if (log.WasAllowed.HasValue)
                                {
                                    if (log.WasAllowed.Value)
                                    {
                                        <i class="fa fa-check-circle-o" style="color: green; font-size:16px; margin:5px;"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-ban" style="color: red; font-size:16px; margin:5px;"></i>
                                    }
                                }
                            </div>
                            <div class="cont-col2">
                                <div class="desc">
                                    @{
                                        string label = log.Description.ToString()
                                            .Replace("requested access to your", @Resources.WebResources.LogRequestedAccess)
                                            .Replace("The request was denied, because it did not comply with your privacy settings", @Resources.WebResources.LogRequestedAccessDenied)
                                            .Replace("The request was granted, because it complied with your privacy settings", @Resources.WebResources.LogRequestedAccessAllowed);
                                    }
                                    @label
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="date">@log.Timestamp.ToString("G")</div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
