@using Operando_AdministrationConsole.Models.DataSubjectModels
@model IEnumerable<DataAccessLogModel>

@helper GrantedIcon(bool visible = true)
{
    <i class="fa fa-check-circle-o" style="color: green; font-size: 16px; @VisibiltyCss(visible)"></i>
}
@helper DeniedIcon(bool visible = true)
{
    <i class="fa fa-ban" style="color: red; font-size: 16px; @VisibiltyCss(visible)"></i>
}
@helper VisibiltyCss(bool visible)
{
    @:visibility: @(visible ? "visible" : "hidden")
}


<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase"> @Resources.WebResources.DashboardRecentDataRequests </span>
        </div>
        <div class="tools">
            <a href="@Url.Action("DataAccessLogs", "DataSubject")">@Resources.WebResources.DashboardViewAllButton <i class="icon-arrow-right"></i></a>
        </div>
    </div>
    <div class="portlet-body">
        <ul class="feeds">
            @foreach (DataAccessLogModel log in Model)
            {
                <li class="font-grey-gallery">
                    <div class="col1">
                        <div class="cont" style="width: 100%">
                            <div class="cont-col2">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <span>
                                            @GrantedIcon(visible: log.GrantedFields.Any())
                                            <span class="hidden">@Resources.WebResources.LogAccessGranted</span>
                                        </span>
                                        <span>
                                            @DeniedIcon(visible: log.DeniedFields.Any())
                                            <span class="hidden">@Resources.WebResources.LogAccessDenied</span>
                                        </span>
                                    </div>
                                    <div class="desc col-xs-8">
                                        @log.RequesterId requested access to the following data: @string.Join(", ", log.RequestedFields).
                                        <br/>
                                        @if (log.GrantedFields.Any() && log.DeniedFields.Any())
                                        {
                                            <text>According to your privacy settings, access was granted for @GrantedIcon() @string.Join(", ", log.GrantedFields),</text>
                                            <text> and was not granted for @DeniedIcon() @string.Join(", ", log.DeniedFields).</text>
                                        }
                                        else if (log.GrantedFields.Any())
                                        {
                                            <text>According to your privacy settings, access was granted for @GrantedIcon() @string.Join(", ", log.GrantedFields).</text>
                                        }
                                        else if (log.DeniedFields.Any())
                                        {
                                            <text>According to your privacy settings, access was not granted for @DeniedIcon() @string.Join(", ", log.DeniedFields).</text>
                                        }
                                        else
                                        {
                                            throw new ArgumentException("Log has invalid state -- no granted or denied fields.");
                                        }
                                    </div>
                                    <div class="col2 col-xs-2">
                                        <div class="date">@log.LogDates</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
