@using Operando_AdministrationConsole.Models.DataSubjectModels
@model IEnumerable<DataAccessLogModel>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase"> @Resources.WebResources.DashboardRecentDataRequests </span>
        </div>
        <div class="tools">
            <a href="@Url.Action("DataAccessLogs", "DataSubject")">@Resources.WebResources.DashboardViewAllButton <i class="icon-arrow-right"></i></a>
        </div>
    </div>
    <div class="portlet-body">
        <ul class="feeds">
            @foreach (var log in Model)
            {
                <li class="font-grey-gallery">
                    <div class="col1">
                        <div class="cont">
                            <div class="cont-col2">
                                <div class="desc">
                                    @if (log.GrantedFields.Any())
                                    {
                                        <span>
                                            <i class="fa fa-check-circle-o" style="color: green; font-size: 16px;"></i>
                                            <span class="hidden">@Resources.WebResources.LogAccessGranted</span>
                                            <span>@string.Join(", ", log.GrantedFields)</span>
                                        </span>
                                    }
                                    @if (log.DeniedFields.Any())
                                    {
                                        <span>
                                            <i class="fa fa-ban" style="color: red; font-size: 16px;"></i>
                                            <span class="hidden">@Resources.WebResources.LogAccessDenied</span>
                                            <span>@string.Join(", ", log.DeniedFields)</span>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="date">@log.LogDate.ToString("G")</div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
