@using Operando_AdministrationConsole.Models.DashboardModels.WidgetModels
@model IList<NotificationsWidgetModel>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bell"></i>
            <span class="caption-subject font-dark bold uppercase"> @Resources.WebResources.DashboardRecentNotifications </span>
        </div>
        <div class="tools">
            <a href="@Url.Action("Notifications", "Dashboard")">@Resources.WebResources.DashboardViewAllButton <i class="icon-arrow-right"></i></a>
        </div>
    </div>
    <div class="portlet-body">
        <ul class="feeds">
            @foreach (var notification in Model)
            {
                <li class="font-grey-gallery">
                    <div class="col1">
                        <div class="cont">
                            <div class="cont-col1">
                                <div class="label label-sm label-default">
                                    <i class="icon-bell"></i>
                                </div>
                            </div>
                            <div class="cont-col2">
                                <div class="desc">@notification.Description.ToString().Replace("Your privacy settings were updated because of changes you made through the dashboard.", @Resources.WebResources.DashboardSettingsUpdated)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="date">@notification.TimeStamp</div>
                    </div>
                </li>
            }
        </ul>

    </div>
</div>
