@model Operando_AdministrationConsole.Models.BdaSchedule

@Html.HiddenFor(_ => _.Id)
@Html.HiddenFor(_ => _.JobId)

<div class="form-group">
    @Html.LabelFor(_ => _.StartTime, "Start: ")
    <div class="input-group">
        @Html.TextBoxFor(_ => _.StartTime, new { @class = "form-control timepicker timepicker-24" })
        <span class="input-group-btn">
            <button class="btn default" type="button">
                <i class="fa fa-clock-o"></i>
            </button>
        </span>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(_ => _.RepeatIntervalDays, "Run every: ")
    <div class="input-group">
        @Html.TextBoxFor(_ => _.RepeatIntervalDays, new { @class = "form-control", type = "number" })
        <span class="input-group-addon">days</span>
    </div>
</div>